In this notebook I am going to collect my training and test data for all of the field events. I am using the TFFRS class that I have previously made and using the BuildDataFrame function and iterating through my Conferences dataframe.

In [ ]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-



import requests
from bs4 import BeautifulSoup
import pandas as pd


class TFFRS:
    def __init__(self,conf_number,Event):
        self.Conference=conf_number
        self.Event=Event
    def BuildDataFrame(self):




        # Initialize an empty DataFrame
        all_data_df = pd.DataFrame(columns=['Name', 'School', 'Jump (m)', 'Conference', 'Year'])

        conf_number=self.Conference
        Event=self.Event


        if Event=='Dec':
            url = f"https://www.tfrrs.org/printable_lists/{conf_number}?other_lists=https%3A%2F%2Ftf.tfrrs.org%2Flists%2F4278%2FAtlantic_10_Outdoor_Performance_List&limit=30&event_type=&year=&gender=&performance_event_hnd=31632"
        if Event=='Jav':
            url = f"https://www.tfrrs.org/printable_lists/{conf_number}?other_lists=https%3A%2F%2Ftf.tfrrs.org%2Flists%2F4278%2FAtlantic_10_Outdoor_Performance_List&limit=30&event_type=&year=&gender=&performance_event_hnd=31629"
        if Event=='Hammer':
            url = f"https://www.tfrrs.org/printable_lists/{conf_number}?other_lists=https%3A%2F%2Ftf.tfrrs.org%2Flists%2F4278%2FAtlantic_10_Outdoor_Performance_List&limit=30&event_type=&year=&gender=&performance_event_hnd=31627"
        if Event=='Discus':
            url = f"https://www.tfrrs.org/printable_lists/{conf_number}?other_lists=https%3A%2F%2Ftf.tfrrs.org%2Flists%2F4278%2FAtlantic_10_Outdoor_Performance_List&limit=30&event_type=&year=&gender=&performance_event_hnd=31626"
        if Event=='Shotput':
            url = f"https://www.tfrrs.org/printable_lists/{conf_number}?other_lists=https%3A%2F%2Ftf.tfrrs.org%2Flists%2F4278%2FAtlantic_10_Outdoor_Performance_List&limit=30&event_type=&year=&gender=&performance_event_hnd=31623"
        if Event=='High':
            url = f"https://www.tfrrs.org/printable_lists/{conf_number}?other_lists=https%3A%2F%2Ftf.tfrrs.org%2Flists%2F4278%2FAtlantic_10_Outdoor_Performance_List&limit=30&event_type=&year=&gender=&performance_event_hnd=31615"
        if Event=='Long':
            url = f"https://www.tfrrs.org/printable_lists/{conf_number}?other_lists=https%3A%2F%2Ftf.tfrrs.org%2Flists%2F4278%2FAtlantic_10_Outdoor_Performance_List&limit=30&event_type=&year=&gender=&performance_event_hnd=31620"
        if Event=='Pole Vault':
            url = f"https://www.tfrrs.org/printable_lists/{conf_number}?other_lists=https%3A%2F%2Ftf.tfrrs.org%2Flists%2F4278%2FAtlantic_10_Outdoor_Performance_List&limit=30&event_type=&year=&gender=&performance_event_hnd=31617"
        if Event=='Triple':
            url = f"https://www.tfrrs.org/printable_lists/{conf_number}?other_lists=https%3A%2F%2Ftf.tfrrs.org%2Flists%2F4278%2FAtlantic_10_Outdoor_Performance_List&limit=30&event_type=&year=&gender=&performance_event_hnd=31621"

        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        # Initialize lists to store data
        names = []
        schools = []
        jumps = []
        conferences = []
        years = []

        # Locate and store names, schools, jumps, and years
        for row in soup.find_all('tr', class_='allRows'):
            cols = row.find_all('td')

            if len(cols) >= 5:
                names.append(cols[1].text.strip())
                years.append(cols[2].text.strip())  # added line to scrape "Year" info
                schools.append(cols[3].text.strip())
                jumps.append(float(cols[4].text.strip()[:-1]))
                conferences.append(self.Conference)  # Conference number is appended here

        # Create a DataFrame
        df = pd.DataFrame({
            'Name': names,
            'School': schools,
            'Jump (m)': jumps,
            'Conference': conferences,
            'Year': years  # added 'Year' to the DataFrame
        })

        # Append the DataFrame
        all_data_df = pd.concat([all_data_df, df])

            # Pause for a bit before the next request
        return all_data_df


'''
test=TFFRS(4277,'Triple')
test.BuildDataFrame()
testdf=test.BuildDataFrame()
'''

"    \n#test=TFFRS(4277,'Triple')\n#test.BuildDataFrame()\n#testdf=test.BuildDataFrame()\n"

In [ ]:
import pandas as pd
conferences = pd.read_csv('Conferences - 2023 (1).csv')
conferences

,Conference Name,2023,2022,2021,2019,2018,2017,2016,2015
0,Atlantic Sun Conference,4277,3841,3378.0,2649,2245,1998,1691,1523
1,Big 12 Conference,4231,3843,3364.0,2651,2247,2000,1693,1524
2,Atlantic 10 Conference,4278,3858,3380.0,2652,2248,2001,1694,1525
3,America East Conference,4279,3871,3414.0,2653,2249,2002,1695,1526
4,Big Sky Conference,4281,3866,3377.0,2655,2251,2003,1697,1528
5,Big South Conference,4282,3844,3381.0,2656,2252,2004,1698,1529
6,Big Ten Conference,4229,3867,3367.0,2657,2253,2005,1699,1530
7,Big West Conference,4228,3782,3391.0,2658,2254,2006,1700,1531
8,Colonial Athletic Association,4224,3845,3386.0,2660,2256,2008,1702,1533
9,Southwestern Athletic Conference,4223,3848,3370.0,2667,2263,2015,1709,1540
10,Sun Belt Conference,4227,3849,3366.0,2668,2264,2016,1710,1541
11,Patriot League,4225,3864,3385.0,2670,2266,2018,1712,1543
12,American Athletic Conference,4226,3853,3373.0,2679,2272,2024,1718,1549
13,Big East Conference,4296,3857,3388.0,2680,2273,2025,1719,1550
14,Atlantic Coast Conference,4280,3861,3368.0,2654,2250,2030,1696,1527
15,Conference USA,4230,3854,3369.0,3128,2255,2007,1701,1532
16,Pacific-12 Conference,4232,3847,3384.0,2666,2262,2014,1708,1539
17,Mountain West Conference,4233,3859,3383.0,2650,2246,1999,1692,1551
18,Southland Conference,4275,3842,3365.0,2647,2243,1996,1689,1521
19,Ivy League,4276,3863,NaN,2648,2244,1997,1690,1522
20,Horizon League,4283,3855,3371.0,2661,2257,2009,1703,1534
21,Mid-American Conference,4284,3868,3374.0,2662,2258,2010,1704,1535
22,Mid-Eastern Athletic Conference,4285,3846,3382.0,2663,2259,2011,1705,1536
23,Southeastern Conference,4286,3862,3375.0,2664,2260,2012,1706,1537
24,Northeast Conference,4287,3869,3395.0,2665,2261,2013,1707,1538
25,Western Athletic Conference,4288,3850,3387.0,2669,2265,2017,1711,1542
26,Metro Atlantic Athletic Conference,4289,3870,3399.0,2671,2267,2019,1713,1544
27,Southern Conference,4290,3851,3376.0,2672,2268,2020,1714,1545
28,Missouri Valley Conference,4291,3856,3372.0,2673,2269,2021,1715,1546
29,Ohio Valley Conference,4292,3852,3379.0,2674,2270,2022,1716,1547
30,Summit League,4293,3865,3331.0,2675,2271,2023,1717,1548

In [ ]:
conferences2023=conferences.iloc[:, 2].tolist()
conferences2023

[3841,
 3843,
 3858,
 3871,
 3866,
 3844,
 3867,
 3782,
 3845,
 3848,
 3849,
 3864,
 3853,
 3857,
 3861,
 3854,
 3847,
 3859,
 3842,
 3863,
 3855,
 3868,
 3846,
 3862,
 3869,
 3850,
 3870,
 3851,
 3856,
 3852,
 3865]

In [ ]:
long2023=pd.DataFrame()
for i in conferences2023:
  templong=TFFRS(i,'Long')
  templongdf=templong.BuildDataFrame()
  long2023 = pd.concat([long2023, templongdf], ignore_index=True)

Empty DataFrame
Columns: [Name, School, Jump (m), Conference, Year]
Index: []

I just realized after weeks of coding, making this function, and gathering all of the conference codes for 2023-2015 that I can just find all of D1's entries on TFFRS. I knew this but it is limited at 500 entries, which most events are usually well over 500 entries, but you can change part of the URL that says '%limit500' and just change the limit to whatever number. I feel like a dumbass 🤦

But anyways now I am going to collect all of the data from 2023-2015 and match athlete's year over year performance from 2015-2016,2016-2017,2017-2018,2018-2019,2021-2022. I am leaving out 2023 to further seperate the test and training data. You can see a gap from 2018-2019 to 2021-2022. This is because of covid and I do not want two years of progression to be in this model.

In [ ]:
import pandas as pd

def merge_csv_times(csv1_path, csv2_path, output_path):
    # Read CSV files into pandas DataFrames
    df1 = pd.read_csv(csv1_path)
    df2 = pd.read_csv(csv2_path)

    # Remove the 'Meet' and 'Meet Date' columns from both DataFrames
    df1 = df1.drop(columns=['Meet', 'Meet Date'])
    df2 = df2.drop(columns=['Meet', 'Meet Date'])

    # Merge the two DataFrames based on 'Athlete' and 'Team'
    merged_df = pd.merge(df1, df2, on=['Athlete', 'Team'], suffixes=('', '_next_year'))

    # Rename the 'Time_next_year' column to 'Next Year Time'
    merged_df.rename(columns={'Time_next_year': 'Next Year Time'}, inplace=True)

    # Save the merged DataFrame to a new CSV file
    merged_df.to_csv(output_path, index=False)

# Replace 'path_to_csv1.csv' and 'path_to_csv2.csv' with the actual file paths of your CSVs
csv1_path = "D1 - Men's 100m 2022.csv"
csv2_path = "D1 - Men's 100m 2023.csv"
output_path = 'merged_times.csv'
#path 1 should be the earlier year and path 2 should be the more recent year

merge_csv_times(csv1_path, csv2_path, output_path)

In [ ]:
output_path

'merged_times.csv'

In [ ]:
import pandas as pd

m100m2023 = pd.read_table("D1 - Men's 100m 2023.tsv")
m100m22_23 = pd.read_table("D1 - M100m 22-23.tsv")

FileNotFoundError: ignored

In [ ]:
#matching 100m times

merge_csv_times("D1 - Men's 100m 2021.csv","D1 - Men's 100m 2022.csv",'m100m21_22.tsv')
merge_csv_times("D1 - Men's 100m 2018.csv","D1 - Men's 100m 2019.csv",'m100m18_19.tsv')
merge_csv_times("D1 - Men's 100m 2017.csv","D1 - Men's 100m 2018.csv",'m100m17_18.tsv')
merge_csv_times("D1 - Men's 100m 2016.csv","D1 - Men's 100m 2017.csv",'m100m16_17.tsv')
merge_csv_times("D1 - Men's 100m 2015.csv","D1 - Men's 100m 2016.csv",'m100m15_16.tsv')

In [ ]:
#making 100m training and test data

m100mtrain=pd.read_table('m100m21_22.tsv')
m100mtest=pd.read_table("D1 - Men's 100m 2023.csv")

temp1=pd.read_table('m100m18_19.tsv')
temp2=pd.read_table('m100m17_18.tsv')
temp3=pd.read_table('m100m16_17.tsv')
temp4=pd.read_table('m100m15_16.tsv')
m100mtrain=pd.concat([temp1,temp2,temp3,temp4])
m100mtrain

,Athlete,Year,Team,Time,Wind,Year_next_year,Next Year Time,Wind_next_year
0,"Larkins, Micah",JR-3,Northwestern St.,10.02,3.6,SR-4,10.10,2.8
1,"Ewers, Andre",JR-3,Florida State,10.04,3.6,SR-4,10.06,0.8
2,"Gillespie, Cravon",JR-3,Oregon,10.05,2.9,SR-4,9.97,0.2
3,"Jefferson, Chris",JR-3,Sam Houston St.,10.08,3.6,SR-4,10.20,0.6
4,"Oduduru, Divine",SO-2,Texas Tech,10.10,1.4,JR-3,9.94,0.8
...,...,...,...,...,...,...,...,...
116,"Willis, Christian",JR-3,Northwestern St.,11.01,1.3,SR-4,10.74,3.4
117,"Sicard, Lloyd",SO-2,UC Irvine,11.05,1.5,JR-3,10.76,0.0
118,"Dillon, Matt",JR-3,South Alabama,11.05,1.3,SR-4,11.07,-2.1
119,"Tran, Lane",SO-2,Cal St. Fullerton,11.73,1.3,JR-3,11.90,0.8
120,"Pham, Oliver",JR-3,UC Irvine,11.69,-1.0,SR-4,11.57,0.0

In [ ]:
#y and x training data split
m100mxtrain=m100mtrain.drop(['Athlete','Year_next_year','Wind_next_year','Next Year Time','Team'], axis=1)
m100mytrain=m100mtrain['Next Year Time']

In [ ]:
#y training was a series so i had to make it a df
m100mytrain.to_frame(name=None)

     Next Year Time
0             10.10
1             10.06
2              9.97
3             10.20
4              9.94
..              ...
116           10.74
117           10.76
118           11.07
119           11.90
120           11.57

[750 rows x 1 columns]

In [ ]:
def year_to_numeric(year_code):
    if year_code.startswith('JR'):
        return int(year_code.split('-')[1])
    elif year_code.startswith('SR'):
        return int(year_code.split('-')[1])
    elif year_code.startswith('FR'):
        return int(year_code.split('-')[1])
    elif year_code.startswith('SO'):
        return int(year_code.split('-')[1])
    else:
        return None

# Apply the function to the 'Year' column
m100mxtrain['Year'] = m100mxtrain['Year'].apply(year_to_numeric)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
m100_model=DecisionTreeRegressor(max_leaf_nodes=700,random_state=0)
#i just picked 700 for the nodes, will probably change later
m100_model.fit(m100mxtrain,m100mytrain)
m100p=m100_model.predict(m100mxtrain)

In [ ]:

m100mtrain['Predicted']=m100p

In [ ]:
m100mtrain=m100mtrain.drop(['Wind_next_year'],axis=1)
m100mtrain

,Athlete,Year,Team,Time,Wind,Year_next_year,Next Year Time,Predicted
0,"Larkins, Micah",JR-3,Northwestern St.,10.02,3.6,SR-4,10.10,10.10
1,"Ewers, Andre",JR-3,Florida State,10.04,3.6,SR-4,10.06,10.06
2,"Gillespie, Cravon",JR-3,Oregon,10.05,2.9,SR-4,9.97,9.97
3,"Jefferson, Chris",JR-3,Sam Houston St.,10.08,3.6,SR-4,10.20,10.20
4,"Oduduru, Divine",SO-2,Texas Tech,10.10,1.4,JR-3,9.94,9.94
...,...,...,...,...,...,...,...,...
116,"Willis, Christian",JR-3,Northwestern St.,11.01,1.3,SR-4,10.74,10.74
117,"Sicard, Lloyd",SO-2,UC Irvine,11.05,1.5,JR-3,10.76,10.76
118,"Dillon, Matt",JR-3,South Alabama,11.05,1.3,SR-4,11.07,11.07
119,"Tran, Lane",SO-2,Cal St. Fullerton,11.73,1.3,JR-3,11.90,11.90
120,"Pham, Oliver",JR-3,UC Irvine,11.69,-1.0,SR-4,11.57,11.57

In [ ]:
m100m2023=pd.read_csv("D1 - Men's 100m 2023.csv")

In [ ]:
m100m2023=m100m2023.drop(['Athlete','Team','Meet','Meet Date'],axis=1)

In [ ]:
#this fixes problem of NaN in year and makes them a sophomore.
def year_to_numeric(year_code):
    if pd.notnull(year_code):  # Check if the value is not null
        if year_code.startswith('JR'):
            return int(year_code.split('-')[1])
        elif year_code.startswith('SR'):
            return int(year_code.split('-')[1])
        elif year_code.startswith('FR'):
            return int(year_code.split('-')[1])
        elif year_code.startswith('SO'):
            return int(year_code.split('-')[1])
    return 2  # Replace missing values with 2

# Apply the function to the 'Year' column
m100m2023['Year'] = m100m2023['Year'].apply(year_to_numeric)

In [ ]:
m100m2023p=m100_model.predict(m100m2023)
m100m2023p

array([ 9.99,  9.97,  9.97, ..., 11.9 , 11.57, 11.9 ])

In [ ]:
m100m2023prediction=pd.read_csv("D1 - Men's 100m 2023.csv")
m100m2023prediction['Predicted']=m100m2023p
m100m2023prediction

In [ ]:
m100m2023prediction.drop(['Meet','Meet Date'],axis=1)

                  Athlete  Year           Team   Time  Wind  Predicted
0         Jones, Terrence  JR-3     Texas Tech   9.91   1.0       9.99
1              Smith, J.T  SR-4  TAMU-Commerce   9.92   3.1       9.97
2      Maswanganyi, Shaun  JR-3        Houston   9.96   2.9       9.97
3     Oghenebrume, Godson  SO-2            LSU   9.97   2.3       9.99
4            Kone, Ismael  SR-4  Florida State   9.98   2.7       9.97
...                   ...   ...            ...    ...   ...        ...
1870           Hall, Jake  SR-4   North Dakota  15.02   2.4      11.57
1871         Phillip, Kai  JR-3     Evansville  15.14   1.8      11.57
1872     Demeritt, Alijah  SO-2   Prairie View  15.20   3.7      11.90
1873       Smith, Cameron  SR-4    USC Upstate  15.27  -0.4      11.57
1874          Beck, Brian  FR-1        Hofstra  20.37   1.2      11.90

[1875 rows x 6 columns]

In [ ]:
m100m2023prediction.to_csv('Mens 100m 2023 Prediction.csv',index=False)